body {
  background-color: white;
}

h1 {
  color: black;
  text-align: center;
}

#otrais {
  font-size: 14px;
}

.pasvitrots {
  text-decoration: underline;
}

th {
    color: green;
    }


<table style="width:100%">

th {
   color:green;
   }
th {
  color:green;
  }
th {
   color:green;
    }



th {
  color:red;
  }
  
th {
  color:red;"
}


th {
  color:red;"
}
