body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

#otrais {
  font-size: 12px;
}

.pasvitrots {
  text-decoration: underline;
}

<table>
<tr><th> gala </th><th> svars </th></tr> </th><th> cena </th></tr>  
<tr><td> </td><td> </td></tr> 
</table>