body {
  background-color: white;
}

h1 {
  color: black;
  text-align: center;
}

#otrais {
  font-size: 14px;
}

.pasvitrots {
  text-decoration: underline;
}


th {
    color: green;
    }


table, th, td {
border: 2px solid black;
border-collapse: collapse;
}
th, td {
padding-top: 10px;
padding-bottom: 20px;
padding-left: 30px;
padding-right: 50px;
}

table {
  width:100%
  }

th {
   color:green;
   }
th {
  color:green;
  }
th {
   color:green;
    }



th {
  color:red;
  }
  
th {
  color:red;"
}


th {
  color:red;"
}

